name: Multi Event Workflow

on:
 
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"
  release:
    types: [created]

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Triggered workflow"
