name: Matrix-Strategy-OS and Node

on:
  workflow_dispatch:

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
          matrix:
            os: [ubuntu-latest, windows-latest ]
            node: [14, 16 ]
        steps:
         - run: echo " $matrix.os ${matrix.node} "
         
