name: max-parallel 2 Control

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        version: [1,2,3,4,5,6,7,8,9,10]
    steps:
      - run: echo "Version = ${{ matrix.version }}"

#Use case: limit runner load, run all jobs even if one fails.