name: fail-fast false{default} matrix-parallel
on:
  workflow_dispatch:

jobs:
   deploy:
        runs-on: ${{ matrix.os }}
        strategy:
          max-parallel: 1
          fail-fast: false
          matrix:
            os: [ubuntu-latest, windows-latest]
            images: [hello-world, alpine, mdprrassadh]
        steps:
          - name: Docker details
            run: docker info
          - name: Run image
            run: docker run ${{ matrix.images }}
#Use case: testing Docker images across OS.