name: GHB-Demo

on:
  workflow_dispatch:
    

jobs:

  build-job:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Show system info
      run: uname -a

    - name: Install dependencies
      run: echo "Installing dependencies..."

    - name: Build project
      run: echo "Build complete!"
